<footer>
  <div class="col-12 col-md-12 p-3 p-md-5 bg-light border border-white">
    <h3 class="footer-heading">{{ site.title }}</h3>
  
      {{ site.title }}<br/>
  <p>{{ site.description }}</p>
<p>        <a href="https://mesinkasir.github.io" target="blank">Github</a> / 
      
                 <a href="https://mesinkasir.gitlab.io" target="blank">GitLab</a> / 
      
                  <a href="https://mesinkasironline.web.app" target="blank">Web App</a> / 
        
                  <a href="https://fb.com/mesinkasircomplete" target="blank">Facebook</a> / 
        
                  <a href="https://www.youtube.com/c/bakoelraksupermarketMesinKasir/videos" target="blank">Youtube</a>
                  </p>
              <a href="mailto:{{ site.email }}">{{ site.email }}</a>
       </div> 
</footer> 
