<!DOCTYPE html>
<html>

  {% include head.html %}

  <body class="lead text-secondary">
<div class="container">
  <div class="row">
    <div class="col-12 col-md-12 p-3 p-md-3">
    {% include header.html %}
<hr/>
    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>
</div>
</div>
    {% include footer.html %}
    <div class="col-12 col-md-12 text-center">
<p><small>
<a href="https://mesinkasir.gitlab.io">mesinkasir.gitlab.io</a> develope with <a href="https://jekyllrb.com/" target="blank">jekyll</a> present by <a href="https://gitlab.com/" target="blank">gitlab</a>
  </small></p>
      </div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
  </body>

</html>
